    .breadcrumb-forgotpassword {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; /* căn giữa */
  padding-top: 15px;
    font-size: 14px;
    color: #666;
  }
  .breadcrumb-forgotpassword a {
    color: black  ;
    text-decoration: none;
  }
  .breadcrumb-forgotpassword a:hover {
    color: #B3123D;
  }

.form-wrapper-forgotpassword {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.reset-form-forgotpassword {
  background-color: #f9f9f9;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  text-align: center;
}

.title-forgotpassword {
  font-size: 28px;
  color: #960130;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-forgotpassword {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.divider-forgotpassword {
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}
.button-forgotpassword {
  width: 180px;
  background-color:  #960130;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.reset-form-forgotpassword {
 border-top: 1px solid #ccc;
  margin-bottom: 10px;
}
.back-link-forgotpassword {
  margin-top: 10px;
  font-size: 14px;
  color: #444 ;
  cursor: pointer;
}